/* Red: #DD4055 (primary)
Green: #1FAD9D (secondary)
Purple: #8783D1 (tertiary)
White: #ECEBF3
Black: #101119 */


header {
    background-color: #1FAD9D;
    color: #101119;
    border-style: solid;
    border-radius: 10px;
    border-color: #1FAD9D;
}

body {
    background-color: #ECEBF3;
    color: #101119;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #DD4055;
    font-style: bold;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    border-color: #DD4055;
    height: 40px;
}

footer {
    background-color: #8783D1;
    border-style: solid;
    border-radius: 20px;
    border: none;
}

#logo {
    display: inline-block;
    width: 5%;
    height: auto;
    position: absolute;
    left: 30px;
}

#login {
    display: inline-block;
    width: 10%;
    height: 8%;
    background-color: #8783D1;
    position: absolute;
    right: 20px;
    top: 15px;
    border: solid;
    border-radius: 10px;
    border-color: #101119;
    font-weight: 400;
    border-width: 1.5px;
}

#header-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.nav-items {
    border-left: none;
    text-decoration: none;
    text-align: center;
    color: #101119;
    padding: 20px 20px;
}

#adopt {
    background-color: #B9F3EC;
}

#other-pets > img {
    border-radius: 50%;
}

#footer-nav {
    display: inline-block;
    position: absolute;
    right: 20px;
}

#footer-nav-list {
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

#copyright {
    text-align: left;
    font-style: italic;
    font-size: 11px;
    margin: 0px 0px 10px 20px;
}

#address {
    display: inline-block;
    margin: 10px 0px 20px 0px;
}

#address-list {
    list-style-type: none;
    text-align: left;
}

#donate {
    display: inline-block;
}
/*
https://www.w3schools.com/css/css3_images.asp#:~:text=Thumbnail-,Images,-Use%20the%20border*/